<!DOCTYPE html>
<html>
  <head>
    <title>LifeHelperApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "posts", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "show", media: "all" %>
    <%= stylesheet_link_tag "flatpickr.min", media: "all" %>
    <%= stylesheet_link_tag "comments", "data-turbo-track": "reload", media: "all" %>
    <%= stylesheet_link_tag "mypage", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <h1 class="site-logo"><%= link_to "新生活やること！", root_path %></h1>
        <nav class="site-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'TODO投稿', new_post_path, class: "nav-btn" %></li>
              <li><%= link_to 'ライフハック投稿', new_lifehack_post_path, class: "nav-btn" %></li>
              <li><%= link_to current_user.nickname, user_path(current_user.id), class: "nav-btn" %></li>
              <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-btn nav-btn-primary" %></li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path, class: "nav-btn" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "nav-btn nav-btn-primary" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>